

$brand-primary: #ff0000;
$brand-secondary: blue;
$brand-success:green;
h1{color:$brand-primary;}
h2{color:$brand-secondary;}
h3{color:$brand-secondary;}
h4{color:$brand-primary;}
h5{color:$brand-success;}